.login-page {
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.login-input {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.search {
  background-color: #eeeeee;
  width: 100px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}
